@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  font-family: "Source sans pro", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
  background-color: #17181E;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;

  --text-color: white;
  --primary-color: #8C512F;
  --secondary-color: #54463E;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container{
  max-width: 1105px;
  padding-inline: 20px;
}

nav{
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 46px auto;
  white-space: nowrap;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  z-index: 999;
}

.nav-links-container{
  display: flex;
  align-items: center;
  gap:86px;
}

.nav-link{
  position: relative;
}

.nav-link::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -10px;
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 22px;
  transition: width 0.3s ease; 
}

.nav-link:hover::after{
  width: 100%;
}

nav span{
  margin-right: auto;
  font-weight: 700;
  letter-spacing: 2px;
}

.hero-section{
  margin: 170px auto;
  display: flex;
  align-items: center;
  gap: 82px;
}

.hero-left{
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.hero-left h1{
  width: 558px;
  max-height: 228px;
  font-weight: bold;
  font-size: 63px;
  line-height: 78px;
}

.hero-left p{
  font-weight: 300;
  line-height: 31.5px;
  font-size: 25px;

}

.hero-left .heading-buttons{
  display: flex;
  gap: 23px;
}

.hero-left .heading-buttons a{
  width: 211px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 145px;
  font-weight: 600;
  font-size: 25px;
  line-height: 31.5px;
  letter-spacing: 1.5px;
  transition: background-color 0.4s ease;
}

.hero-left .heading-buttons a:first-of-type{
  background-color: var(--primary-color);
}

.hero-left .heading-buttons a:first-of-type:hover{
  background-color: #703a1b;
}

.hero-left .heading-buttons a:nth-child(2){
  background-color: var(--secondary-color);
}

.hero-left .heading-buttons a:nth-child(2):hover{
  background-color: #3a312c;
}

.hero-right img{
  width: 424px;
  height: 445px;
}

footer{
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 2.3px;
  min-width: 303px;
  text-align: center;
  margin-top: 227px;
  margin-bottom: 60px;
}

.hamburger{
  display: none;
}

@media (max-width: 1105px) {
  nav.container{
    padding-inline: 30px;
    margin: 30px auto;
  }

  .hero-section{
    flex-direction: column;
    margin: 33px auto;
    gap: 33px;
  }

  .hero-right{
    order: 1;
  }
  
  .hero-left{
    order: 2;
    align-items: center;
    text-align: center;
  }

  .hero-left h1{
    max-width: 700px;
    max-height: 228px;
    font-weight: bold;
    font-size: 63px;
    line-height: 78px;
  }

}

@media (max-width: 750px){
  .nav-links-container, .hero-left .heading-buttons a:nth-child(2), .hero-left p{
    display: none;
  }

  .nav-links-container.active{
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    top: 88px;
    left: 0;
    padding-bottom:33px;
    border-radius: 0px 0px 22px 22px;
    background-color: #17181E;
    z-index: 2;
  }

  .hamburger{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .hero-right img{
    width: 275px;
    height: 245px;
  }

  .hero-section .hero-left h1{
    width: 266px; 
    height: 120px;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }

}

@media (max-width: 305px){
  nav.container, .container, .hero-section.container{
    padding-inline: 5px;
  }

  .hero-right img{
    width: 260px;
    height: 230px;
  }

  .hero-section .hero-left h1{
    width: 250px; 
    height: 160px;
  }
}
 
/* /game page  */

.game-section{
  margin: 84px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 51px;
}

.game-button{
  width: 432px;
  height: 68px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 25px;
  font-family: Outfit, Arial, sans-serif;
  line-height: 31.5px;
  letter-spacing: 1.3px;
  border: none;
  border-radius: 145px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.game-button:last-of-type{
  background-color: #54463E;
}

.game-button:last-of-type:hover{
  background-color: #3d312b;
}

.game-button:hover{
  background-color: #703a1b;
}

.current-category-container{
  width: 100%;
  height: 132px;
  background: rgba(39, 41, 57, 0.42);
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 62px;
  line-height: 78px;
  text-align: center;
  padding-inline: 20px;
}

.timer-info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 51px;
}

.timer-container{
  width: 422px;
  height: 202px;
}

.formated-time-container{
  width: 422px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24201D;
  border-radius: 22px 22px 0px 0px;
  font-weight: 600;
  font-size: 96px;
  line-height: 120px;
  letter-spacing: 8px;
  
}

.timer-controls{
  width: 422px;
  height: 62px;
  background-color: #8C512F;
  border-radius: 0px 0px 22px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 20px;
  color: #1C1A18;
}

.no-time-left{
  font-size: 25px;
  color: rgb(221, 47, 47);
}

.control-icon{
  cursor: pointer;
}

.info-container{
  width: 592px;
  height: 202px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24201D;
  border-radius: 22px;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 2px;
  padding: 20px 50px;
  text-align: center;
}

.examples{
  width: 100%;
  min-height: 200px;
  background: rgba(39, 41, 57, 0.42);
  border-radius: 22px;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 50px;
}


@media (max-width: 1105px) {
  

  .game-button{
    width: 350px;
    height: 61px;
    font-size: 22px;
    line-height: 25.2px;
  }

  .current-category-container{
    width: 100%;
    font-size: 42px;
    line-height: 50px;
  }

  .timer-info-container{
    gap: 51px;
    width: 100%;
  }

  .timer-container{
    max-width: 422px;
    min-width: auto;
    height: 202px;
  }
  
  .formated-time-container{
    font-size: 90px;
    line-height: 113px;
    width: auto;
    padding-inline: 25px;
  }

  .timer-controls{
    width: auto;
    gap: 42px;
  }

  .info-container{
    width: auto;
    min-height: 202px;
    font-size: 24px;
    line-height: 30px;
  }

  .examples{
    width: 100%;
    min-height: 200px;
    font-size: 28px;
    letter-spacing: 1.5px;
    line-height: 35px;
    padding: 40px 50px;
  }

}

@media (max-width: 750px){
  .game-section{
    margin: 42px auto;
    gap: 42px;
  }

  .game-button{
    width: 315px;
    height: 61px;
    font-size: 20px;
    line-height: 25.2px;
  }

  .current-category-container{
    width: 100%;
    min-height: 152px;
    font-size: 32px;
    line-height: 40px;
  }

  .timer-info-container{
    flex-direction: column;
    gap: 42px;
    width: 100%;
  }

  .timer-container{
    max-width: 100%;
    width: 100%;
    height: 202px;
  }
  
  .formated-time-container{
    width: 100%;
    font-size: 90px;
    line-height: 113px;
  }

  .timer-controls{
    width: 100%;
    gap: 42px;
  }

  .info-container{
    width: 100%;
    min-height: 202px;
    font-size: 24px;
    line-height: 30px;
  }

  .examples{
    width: 100%;
    min-height: 200px;
    font-size: 25px;
    letter-spacing: 1.5px;
    line-height: 35px;
    padding: 40px 50px;
  }
}

/* howtoplay page */

.rules-page-container{
  margin-inline: auto;
}

.rules-h2{
  margin-block: 87px;
  text-align: center;
  font-size: 62px;
  font-weight: 700;
}

.rules-container{
  width: 100%;
  min-height: 408px;
  margin: auto;
  padding: 50px 65px;
  background: rgba(39, 41, 57, 0.4);
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  line-height: 30px;
}

.rules-container ol{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  font-size: 24px;
  list-style: none;
  counter-reset: item;
}

.rules-container ol li::before{
    content: counter(item) ".";
    counter-increment: item;
    margin-right: 0.5em;
}

.rules-container p{
  color: #A8A7A7;
  font-size: 20px;
}

/* categories page  */

.categories-container {
  margin: 85px auto 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.categories-container h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: center;
}

.counting{
  color: #d16e34;
}

.categories-list-container{
  background: rgba(30, 31, 39, 0.4);
  padding: 40px 50px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  border-radius: 22px;
}

.categories-list-container ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.categories-list-container ul li{
  text-align: center;
  width: 50%;
}

@media (max-width: 750px){
  .categories-list-container ul{
    flex-direction: column;
  }
  .categories-container ul li{
    width: 100%;
  }
}

.fail-page{
  text-align: center;
  margin-top: 7em;
  color: #b9b9b9;
}

.fail-page span{
  color: #d16e34;
  text-decoration:underline;
  cursor: pointer;
}


